html {
    min-height: 100%;
}

p {
    margin: 0;
}

body {
    background: #353536 url(../img/background.png);
    width: 100%;
    min-height: 100%;
    text-align: center;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #2f2f2f;
    position: absolute;

    padding-top: 50px;
}

* {
    outline: none;
}

#container {
    width: 950px;
    position: absolute;
    left: 50%;
    margin-left: -475px;
}

.panel {
    min-height: 500px;
    background: #dadade;
    display: inline-block;
}

#strats {
    float: left;
    width: 700px;
}

#actions {
    float: right;
    width: 249px;
    border-left: 1px solid darkgray;
    padding-top: 50px;
}

.strat-name {
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 35px;
    height: 45px;
    padding: 0;
    width: 100%;
    text-align: center;
}

.strat-desc {
    text-align: left;
    font-size: 24px;
    overflow: hidden;
    vertical-align: bottom;
    border: none;
    background: none;
    resize: vertical;
    width: 100%;
    min-height: 150px;
}

.author-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
    color: #727275;
    border: none;
    background: none;
}

.button {
    color: #000 !important;
    margin: 5px 0;
}

.accept {
    background: #5cc15a !important;
}

.unsure {
    background: #e3c76f !important;
}

.reject {
    background: #c15d5e !important;
}

.tt-success {
    background: #329537;
}

.tt-failure {
    background: #c0402a;
}