html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background: #353536 url(../img/background-white.png) top fixed;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    overflow: hidden;

    text-align: center;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #2f2f2f;
}

a {
    color: #3373c7;
    text-decoration: none;
    transition: color 0.2s;
    font-weight: 700;
}

a:hover {
    color: #0295ff;
    transition: color 0.2s;
}

hr {
    border-width: 0;
    background: #848487;
    height: 1px;
    width: 65%;
    margin: 8px auto;
}

h1, p {
    margin: 0;
}

span {
    display: inline-block;
}

/*region Modifiers*/
.disabled {
    opacity: 0.4;
    cursor: default !important;
    transition: opacity 0.75s;
    pointer-events: none;
    user-select: none;
}

.hidden {
    opacity: 0;
    transition: opacity 1s;
}

/*endregion*/

/* region Top */
#top {
    position: relative;
    height: 70px;
    width: 100%;
    background: #f8f8fc;
    font-weight: 700;
}

#names {
    height: 70px;
    overflow: hidden;
}

.name-wrapper {
    height: 70px;
    white-space: nowrap;
    text-align: center;
    padding: 0 20px;
}

/*endregion*/

#content {
    position: absolute;
    top: 70px;
    bottom: -200%;

    width: 100%;
}

/*region Center*/
#center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(218, 218, 222, 0.8) no-repeat center;
    background-size: 90%;
    overflow: hidden;

    transition: background-position-y 1s;
}

#center.started {
    background-position-y: 500%;
}

#desc {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 70px 50px 20px;

    text-align: left;
    font-size: 20px;
    overflow-y: auto;
}

/*endregion*/

/*region Bottom */
#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

/*region Author*/
#author-container {
    position: absolute;
    right: 0;
    top: -43px;
    background: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 25px;
}

#author {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    max-width: 300px;
    font-size: 20px;
    color: #727275;
    font-weight: 400;
    overflow: hidden;

    padding-left: 15px;
}

#author > p {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

#author img {
    position: absolute;
    top: 5px;
    right: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    transition: opacity 0.7s;

    height: 35px;
    width: 35px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

/*endregion*/

/*region Actionbar*/
#action-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    box-sizing: border-box;
    padding: 5px;
    bottom: 155px;
    right: 0;
    min-width: 50px;
    overflow: hidden;

    transition: opacity 0.7s;
}

.strat-button {
    align-self: flex-end;
    float: right;
    height: 45px;
    width: 45px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#like-counter {
    font-weight: 900;
    font-size: 35px;
    cursor: default;
    color: #329537;
    width: auto;
}

.settings-button {
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    z-index: 1;
}

/*endregion*/

/*region Gamemode selection*/
#gamemode-selection {
    display: flex;
    background: #f3f3f7;
    height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    justify-content: space-around;
    align-items: center;
}

.divider {
    border-left: 1px solid #cbcbcf;
    border-radius: 5px;
    height: 40px;
    margin-top: 5px;
    flex-shrink: 0.1;
}

/*region Gamemode button*/
.gamemode-button {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    flex-grow: 4;
}

.gamemode-button input[type=checkbox] {
    display: none;
}

.gamemode-button label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;

    transition: all .15s;
}

.gamemode-button input[type=checkbox]:not(:checked) + label {
    opacity: 0.4;
}

.gamemode-button input[type=checkbox]:checked + label {
    opacity: 1;
}

/*endregion*/

/*endregion*/

/*region Team buttons*/
#team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
    height: 60px;

    box-sizing: border-box;
    border-right: 1px solid #a5a5a8;
    background: #bfbfc3;

    font-family: 'Catamaran', Impact, sans-serif;
    font-weight: 800;
    font-size: 40px;

    -webkit-user-select: none;
    -moz-user-select: none;
    padding-top: 5px;

    transition: background 0.075s;
}

.team-button:last-child {
    border-right: none;
    border-left: 1px solid #a5a5a8;
}

.team-button:active {
    background: #a1a1a5;
    transition: background 0.2s;
}

/*endregion*/

/*endregion*/

/*region Mobile Dialogue*/
.m-dialogue {
    position: absolute;
    width: 85%;
    max-width: 320px;
    z-index: 10;
    text-align: center;

    background: #c3c3c3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.md-title {
    font-size: 2em;
    padding: 5px 15px;
}

.md-text {
    font-size: 1em;
    padding: 0 15px;
}

.md-button-wrapper {
    width: 100%;
    margin-top: 12px;

    display: flex;
    justify-content: space-around;
}

.md-button {
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    padding: 10px;
    flex-basis: 100%;
    font-size: 1.5em;
    font-family: "Catamaran", "Lato", serif;

    background: rgba(255, 255, 255, 0.5);

    transition: background 0.1s;
}

.md-button:active {
    background: rgba(255, 255, 255, 0.3);
}

/*endregion*/

/*region Settings*/
.setting-wrapper {
    box-sizing: border-box;
    margin: 8px auto;
    padding: 0 10%;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.setting-wrapper span {
    margin-right: 10px;

    display: flex;
    cursor: pointer;
    align-items: center;
    user-select: none;
    flex-grow: 4;

    font-weight: bold;
    font-size: 1em;
}

/*endregion*/

/*region Checkbox*/
.checkbox-wrapper {
    position: relative;

}

.checkbox-wrapper label {
    height: 35px;
    width: 35px;

    background: #a1a1a4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 50%;
}

.checkbox-wrapper label:before {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;

    background: #474747;
    border-radius: 50%;

    content: "";

    transition: 0.2s;
}

.checkbox-wrapper label:after {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;

    background: none;
    border-radius: 50%;

    content: "";

    transition: 0.2s;
}

.checkbox-wrapper input[type=checkbox]:checked + label:after {
    background: #f6f6f9;
}

.checkbox-wrapper input {
    display: none;
}

/*endregion*/

.disclaimer {
    margin-top: 5px;
    font-size: 0.75em;
}

#dialogue-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code-box {
    border: 1px solid gray;
    background: #ccccd1;
    border-radius: 2px;
    font-family: monospace;
    font-size: 15px;
    padding: 5px 25px 5px 25px;
}

#anchor-ad {
    position: relative;
    min-height: 60px;
    width: 100%;
    background: gray;
}

#desperate-plead {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 0.8em;
    overflow: hidden;
}