/* Background pattern from subtlepatterns.com */

html {
    min-height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;

    text-align: center;

    color: #2f2f2f;
    background: #353536 url(../img/background.png);
}

a {
    font-weight: 700;

    transition: color 0.2s;
    text-decoration: none;

    color: #3373c7;
}

a:hover {
    transition: color 0.2s;

    color: #0295ff;
}

hr {
    width: 65%;
    height: 1px;
    margin: 8px auto;

    border-width: 0;
    background: #848487;
}

h1,
p {
    margin: 0;
}

span {
    display: inline-block;
}

table {
    border-collapse: collapse;
}

#pause-button {
    position: absolute;
    top: -24px;
    right: 0;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border-radius: 50%;
    background-image: url(../img/icons/pause.png);
    background-size: contain;
}

#pause-button.paused {
    background-image: url(../img/icons/play.png);
}

#holiday-overlay.paused {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

/*region Checkbox*/
.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper label {
    display: flex;

    width: 35px;
    height: 35px;

    cursor: pointer;

    border-radius: 50%;
    background: #a1a1a4;

    align-items: center;
    justify-content: center;
}

.checkbox-wrapper label:before {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;

    content: "";
    transition: 0.2s;

    border-radius: 50%;
    background: #474747;
}

.checkbox-wrapper label:after {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;

    content: "";
    transition: 0.2s;

    border-radius: 50%;
    background: none;
}

.checkbox-wrapper input[type=checkbox]:checked + label:after {
    background: #f6f6f9;
}

.checkbox-wrapper input {
    display: none;
}

/*endregion*/

.bold {
    font-weight: 800;
}

.disabled {
    cursor: default !important;
    transition: opacity 0.75s;
    pointer-events: none;

    opacity: 0.6;
}

.hidden {
    transition: opacity 1s;

    opacity: 0;
}

.text-center {
    text-align: center !important;
}

.divider {
    height: 40px;

    border-left: 2px solid #cbcbcf;
    border-radius: 5px;

    flex-shrink: 0.1;
}

#header {
    display: inline-block;

    width: 90%;
    min-width: 600px;
    max-width: 850px;
    margin-bottom: 25px;
    padding-top: 20px;

    color: white;
}

#logo {
    width: 100%;

    -webkit-user-select: none;
       -moz-user-select: none;
}

#content {
    position: relative;
    z-index: 2;
    right: 0;
    left: 0;

    width: 90%;
    min-width: 600px;
    max-width: 850px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/* region Top */
#top {
    width: 100%;

    background: #bfbfc3;
}

#name-container {
    font-weight: 700;

    display: table-cell;
    overflow: hidden;

    width: 60%;
    min-width: 380px;
    max-width: 450px;
    padding: 0 10px;

    background: #ffffff;
}

#names {
    overflow: hidden;

    height: 70px;
}

.name-wrapper {
    display: inline-block;

    width: 95%;
    height: 70px;
    padding: 0 8px;

    text-align: center;
    white-space: nowrap;
}

.name {
    line-height: 70px !important;

    white-space: nowrap;
}

.team-button {
    font-family: "Catamaran", Impact, sans-serif;
    font-size: 35px;
    font-weight: 800;
    line-height: 70px;

    display: table-cell;

    height: 50px;
    padding-top: 5px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
    transition: background 0.25s;
}

.team-button:hover {
    transition: background 0.125s;

    background: #aaaaae;
}

/*endregion*/

/*region Gamemode selection*/
#gamemode-selection {
    display: flex;

    padding: 0 10%;

    -webkit-user-select: none;
       -moz-user-select: none;

    background: #f3f3f7;

    align-items: center;
    justify-content: space-around;
}

.gamemode-button {
    position: relative;

    display: inline-block;

    width: 50px;
    height: 50px;

    flex-grow: 4;
}

.gamemode-button input[type=checkbox] {
    display: none;
}

.gamemode-button label {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer !important;
    transition: all 0.1s;

    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

.gamemode-button input[type=checkbox]:not(:checked) + label {
    opacity: 0.4;
}

.gamemode-button input[type=checkbox]:checked + label {
    opacity: 1;
}

/*endregion*/

/*region Center*/
#center {
    min-height: 150px;
    padding: 15px 70px 15px 70px;

    background: #dadade;
}

#desc {
    font-size: 24px;

    overflow: hidden;

    text-align: left;
    vertical-align: bottom;
}

@media only screen and (max-device-width: 760px) {
    #desc {
        font-size: 30px;
    }
}

/*endregion*/

/*region Actionbar*/
#action-bar {
    height: 55px;

    transition: opacity 0.7s;

    background: #f3f3f7;

    align-items: center;
}

#author {
    font-weight: 200;
    line-height: 55px;

    position: relative;

    float: left;

    margin-left: 20px;

    color: #727275;
}

#author > p {
    font-size: 25px;

    display: inline-block;

    margin-left: 60px;
}

#author img {
    position: absolute;
    top: 5px;
    left: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
    transition: opacity 0.7s;
}

#strat-options {
    display: flex;
    float: right;
    overflow: hidden;

    height: 100%;

    -webkit-user-select: none;
       -moz-user-select: none;

    align-items: center;
}

.strat-button {
    line-height: 45px;

    display: inline-block;

    width: 45px;
    height: 45px;
    margin-right: 18px;

    cursor: pointer;
    vertical-align: bottom;
}

#like-counter {
    font-size: 35px;
    font-weight: 900;

    width: auto;
    margin-right: 12px;

    cursor: default;
    vertical-align: inherit;

    color: #329537;
}

/*endregion*/

.code-box {
    font-family: monospace;
    font-size: 15px;

    padding: 5px 25px 5px 25px;

    border: 1px solid gray;
    border-radius: 2px;
    background: #ccccd1;
}

/*region Ads*/
#ad-bottom {
    position: relative;

    width: 100%;
    min-height: 60px;

    background: gray;
}

#desperate-plead {
    font-size: 0.8em;

    position: absolute;

    display: flex;

    width: 100%;
    height: 100%;

    color: white;

    align-items: center;
    justify-content: center;
}

/*endregion*/

/*region Bottom */
#bottom {
    line-height: 100%;

    padding: 5px;

    -webkit-user-select: none;
       -moz-user-select: none;
    vertical-align: middle;

    background: #dadade;
}

.bottom-container {
    line-height: 100%;

    display: block;
    overflow: hidden;

    height: 15px;
    padding: 2px 0;

    vertical-align: middle;
}

.bottom-container p {
    font-size: 12px;

    display: inline-block;

    margin: 0 2px;
}

.bottom-container img {
    display: inline-block;

    height: 15px;
    margin: 0 2px;
}

#donate-button {
    display: inline-block;
}

#donate-button input[type="image"] {
    height: 15px;
}

#github-button {
    width: 21px;
    height: 21px;
}

/*endregion*/

#dialogue-container {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background: rgba(0, 0, 0, 0.65);

    align-items: center;
    justify-content: center;
}

/* region Dialogue */
.c-dialogue {
    font-size: 15px;

    position: relative;
    z-index: 5;

    width: 450px;
    min-height: 75px;

    background: #dadade;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.9);
       -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.9);
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.9);
}

.c-dialogue > *:last-child:not(.md-button) {
    margin-bottom: 10px;
}

.d-title + * {
    margin-top: 0 !important;
}

.d-title {
    font-family: "Catamaran", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;

    height: 45px;
    margin-top: 10px;
}

.d-info {
    font-size: 12px;

    margin-top: 5px;
    margin-bottom: 5px;
}

.d-textinput {
    font-size: 14px;

    display: inline-block;

    width: 85%;

    outline: none;
}

.d-textarea {
    font-size: 14px;

    display: inline-block;

    width: 85%;
    max-height: 150px;

    resize: vertical;

    outline: none;
}

.d-button {
    font-size: 15px;

    margin: 10px 0;
    padding: 2px 6px 2px 6px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
    -webkit-transition: background 0.15s;
       -moz-transition: background 0.15s;
        -ms-transition: background 0.15s;
         -o-transition: background 0.15s;
            transition: background 0.15s;

    border: 1px solid #898989;
    border-radius: 2px;
    background: #ceced2;
}

.d-button:hover {
    background: #dadade;
}

.d-loader {
    display: inline-block;

    height: 25px;
}

.d-error {
    margin-bottom: 10px;

    color: #ea0000;
}

.d-success {
    position: absolute;
    top: 0;
    left: 50%;

    height: 150px;
    margin-left: -75px;
}

.d-checkbox {
    float: right;

    margin: 0;
}

.d-checkbox-wrapper {
    display: flex;

    margin-bottom: 5px;

    align-items: center;
    justify-content: space-between;
}

.d-checkbox-info {
    font-size: 15px;
}

.d-wrapper {
    display: inline-block;

    width: 150px;
}

.disclaimer {
    font-size: 0.8em;

    margin-top: 5px;
}

/*endregion*/

/*region Settings*/
.setting-wrapper {
    display: flex;

    box-sizing: border-box;
    width: 300px;
    margin: 8px auto;

    align-items: stretch;
    justify-content: space-between;
}

.setting-wrapper span {
    font-size: 1em;
    font-weight: bold;

    display: flex;

    margin-right: 10px;

    cursor: pointer;
    user-select: none;

    align-items: center;
    flex-grow: 4;
}

/*endregion*/
