meta(name="Description" content="The number one fun strategy generator for Rainbow Six Siege!")
meta(name="Keywords" content="strat,strategy,game,gaming,rainbow,six,siege,generator,stratroulette")
meta(property='og:image', content='http://stratroulette.net/siege/img/thmbn.jpg')
meta(name="theme-color" content="#bfbfc3")
link(rel="icon" type="image/x-icon" href="siege/favicon.ico")
meta(name='google-site-verification', content='Uf8v3vnOhD7yveO0SjnF0ARJJ7NTu79txVZzn56QMy8')
