//- Created by bq on 2016-04-16.

// dist
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:200,400")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:800")
link(rel="stylesheet" href="/dist/css/normalize.css")
link(rel="stylesheet" href="/dist/css/tooltipster.css")

script(src="/dist/js/jquery.min.js")
script(src='/dist/js/jquery.easing.min.js')
script(src="/dist/js/js.cookie-2.1.1.min.js")
script(src="/dist/js/jquery.tooltipster.min.js")
