extends ./index.jade

- var returnMessage = "Click here to head back to the main page."

block title
    title Error - R6|S Stratroulette

block content
    div(id="center")
        h1=error.status
        
        if error.status != 404
            p="Something went wrong!"
            a(href="/")
                p Click here to head back to the main page.
        else
            p You seem to have taken a wrong turn!
            p Unfortunately, there isn't much more to this site than the main page...
            a(href="/")
                p You should probably head back there.
                
        div.code-box
            code=error