body(style="background: #353536 url(../img/background.png)")
    img(src="/siege/img/logo.png" alt="R6|S")

script.
    document.cookie = "moderatorID=" + prompt("Enter moderator ID");
    
    location.reload();